#define ZMK_POINTING_DEFAULT_SCRL_VAL  15

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define NUMBER  1
#define FN  2
#define HOTKEY  3

/ {
    combos {
        compatible = "zmk,combos";

        return {
            bindings = <&kp RETURN>;
            key-positions = <23 40>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <37 12>;
        };

        return2 {
            bindings = <&kp RETURN>;
            key-positions = <37 23>;
        };

        backspace2 {
            bindings = <&kp BACKSPACE>;
            key-positions = <40 12>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E               &kp R  &kp T               &kp Y      &kp U  &kp I                &kp O    &kp P     &kp BACKSLASH
&kp LEFT_CONTROL  &kp A  &kp S  &kp D               &kp F  &kp G               &kp H      &kp J  &kp K                &kp L    &kp SEMI  &kp SQT
&kp LSHFT         &kp Z  &kp X  &kp C               &kp V  &kp B               &kp N      &kp M  &kp COMMA            &kp DOT  &kp FSLH  &kp RSHFT
                                &mt LEFT_WIN LANG2  &mo 2  &mt LEFT_ALT SPACE  &mkp LCLK  &mo 1  &mt RIGHT_WIN LANG1
            >;
        };

        hotkey_layer {
            label = "HOTKEY";
            bindings = <
&none          &none     &none     &kp UP    &none       &none        &none      &kp SLASH      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PLUS   &none
&kp BACKSPACE  &none     &kp LEFT  &kp DOWN  &kp RIGHT   &none        &none      &kp ASTRK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS  &kp ENTER
&kp TILDE      &kp EXCL  &kp AT    &kp HASH  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp EQUAL  &none
                                   &none     &none       &none        &mkp RCLK  &none          &mkp MCLK
            >;
        };

        number_layer {
            label = "NUMBER";
            bindings = <
&kp ESCAPE     &kp C_VOL_DN  &kp C_VOLUME_UP  &kp UP_ARROW    &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
&kp BACKSPACE  &none         &kp LEFT         &kp DOWN_ARROW  &kp RIGHT             &none                 &kp F6        &kp F7          &none         &none         &none         &kp ENTER
&kp GRAVE      &kp NUMBER_1  &kp NUMBER_2     &kp NUMBER_3    &kp NUMBER_4          &kp NUMBER_5          &kp NUMBER_6  &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0  &none
                                              &none           &none                 &none                 &mkp RCLK     &msc SCRL_DOWN  &msc SCRL_UP
            >;
        };
    };
};
