#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_SCRL_VAL  2

//#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define NUMBER  1
#define FN  2
#define HOTKEY  3

/ {
    combos {
        compatible = "zmk,combos";

        combo_lbrc {
            timeout-ms = <50>;
            key-positions = <4 5>; // KP: VB
            bindings = <&mt RBRC LBRC>;
            layers = <0 2>;
        };

        combo_rbrc {
            timeout-ms = <50>;
            key-positions = <6 7>; // KP: NM
            bindings = <&kp RBRC>;
            layers = <0 2>;
        };

        combo_lpar {
            timeout-ms = <50>;
            key-positions = <16 17>; // KP: FG
            bindings = <&mt RPAR LPAR>;
            layers = <0 2>;
        };

        combo_rpar {
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp RPAR>;
            layers = <0 2>;
        };

        combo_lbkt {
            timeout-ms = <50>;
            key-positions = <28 29>; // KP: RT
            bindings = <&mt RBKT LBKT>;  // 可以用CMD+这个单手返回到代码上一个编辑的地方 或者网页返回
            layers = <0 2>;
        };

        combo_rbkt {
            timeout-ms = <50>;
            key-positions = <30 31>; // KP: YU
            bindings = <&kp RBKT>;
            layers = <0 2>;
        };

        esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>; // ESC
            layers = <0>;
        };

        up {
            bindings = <&kp UP>;
            key-positions = <3 4>;
            layers = <0>;
            timeout-ms = <50>;
        };

        down {
            bindings = <&kp DOWN>;
            key-positions = <27 28>;
            timeout-ms = <50>;
            layers = <0>;
        };

        left {
            bindings = <&kp LEFT>;
            key-positions = <14 15>;
            layers = <0>;
            timeout-ms = <50>;
        };

        right {
            bindings = <&kp RIGHT>;
            key-positions = <15 16>;
            layers = <0>;
            timeout-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E               &kp R  &kp T               &kp Y      &kp U  &kp I                &kp O    &kp P     &kp BACKSLASH
&kp LEFT_CONTROL  &kp A  &kp S  &kp D               &kp F  &kp G               &kp H      &kp J  &kp K                &kp L    &kp SEMI  &kp SQT
&kp LSHFT         &kp Z  &kp X  &kp C               &kp V  &kp B               &kp N      &kp M  &kp COMMA            &kp DOT  &kp FSLH  &kp RSHFT
                                &mt LEFT_WIN LANG2  &mo 2  &mt LEFT_ALT SPACE  &mkp LCLK  &mo 1  &mt RIGHT_WIN LANG1
            >;
        };

        hotkey_layer {
            label = "HOTKEY";
            bindings = <
&none          &none     &none     &kp UP    &none       &none        &none      &kp SLASH      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PLUS   &none
&kp BACKSPACE  &none     &kp LEFT  &kp DOWN  &kp RIGHT   &none        &none      &kp ASTRK      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp MINUS  &kp ENTER
&kp TILDE      &kp EXCL  &kp AT    &kp HASH  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp EQUAL  &none
                                   &none     &none       &none        &mkp RCLK  &none          &mkp MCLK
            >;
        };

        number_layer {
            label = "NUMBER";
            bindings = <
&kp ESCAPE     &kp C_VOL_DN  &kp C_VOLUME_UP  &kp UP_ARROW    &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4  &none
&kp BACKSPACE  &none         &kp LEFT         &kp DOWN_ARROW  &kp RIGHT             &none                 &kp F6        &kp F7        &none           &none         &none         &kp ENTER
&kp GRAVE      &kp NUMBER_1  &kp NUMBER_2     &kp NUMBER_3    &kp NUMBER_4          &kp NUMBER_5          &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8    &kp NUMBER_9  &kp NUMBER_0  &none
                                              &none           &none                 &none                 &mkp RCLK     &msc SCRL_UP  &msc SCRL_DOWN
            >;
        };
    };
};
